/* CSS Reset  */
*{
    box-sizing: border-box;
}
/* provide variable  */
:root{
    --success-color: #2ecc71;
    --error-color: #e74c3c;
}

/* design for error message  */
.form-control.success input{
    border-color: var(--success-color);
}
.form-control.error input{
    border-color: var(--error-color);
}
.form-control small{
    color: var(--error-color);
    visibility: hidden;
}
.form-control.error small{
    visibility: visible;
}